
<div class=" row">
  <div class="col-lg-12">
    <table class="table table-responsive table-sm">
      <tr>
          <td>
              <span [ngClass]="{'text-danger':periodoLectivoSeleccionado.estado!='ACTUAL',
              'text-success':periodoLectivoSeleccionado.estado=='ACTUAL'}" class="form-control">
                  <strong>{{txtPeriodoActualHistorico}} :</strong>
              </span>
          </td>
          <td>
            <select [disabled]="flagAsignaturasCupo" name="periodoLectivoActual"
                    [(ngModel)]="periodoLectivoActual.id" class="form-control"
                    (change)="cambiarPeriodoLectivoActual();getDetalleMatriculasForMalla()">
                <option [ngClass]="{'bg-success text-white':periodo.estado=='ACTUAL'}" value="{{periodo.id}}"
                        *ngFor="let periodo of periodosLectivos">{{periodo.nombre}}</option>
            </select>
        </td>
     <!--   pl id  {{periodoLectivoActual.id}}-->
                  <td>
          <select [disabled]="flagAsignaturasCupo" [(ngModel)]="carrera.id" class="form-control"
                  id="carrera" name="carrera" required
                  (change)="getDetalleMatriculasForMalla()">
              <option value="" selected>SELECCIONE UNA CARRERA</option>
              <option value="0" selected>TODAS</option>
              <option value="{{carrera.id}}" *ngFor="let carrera of carreras" class="small"
                      [ngClass]="{'bg-warning':carrera.descripcion=='MALLA ANTIGUA','text-white':carrera.descripcion=='MALLA ANTIGUA'}">
                  {{ carrera.descripcion }}
              </option>
          </select>
      </td>
    <!--   carrera id{{ carrera.id }}-->
  
  </tr>
    </table>
  </div>
</div>

<div class="col-lg-12">
  <small><strong>Estudiante</strong>
    {{estudiante.nombre1 + ' ' +estudiante.nombre2 + ' '+estudiante.apellido1 +' '+estudiante.apellido2}}</small><br>
    <small><strong>Cédula</strong> {{user.user_name}}</small><br>
    <small><strong>Correo</strong> {{user.email}}</small><br>
<!-- Tabla cupos -->
<div class="row mt-1" *ngIf="!flagAsignaturasCupo">
  <div class="col-lg-12">
    <table class="table table-hover table-sm table-responsive">
      <thead class="table-default">
        <th width="10%" *ngIf="carrera.id==0">Código</th>
        <th width="25%">Asignatura</th>
        <th width="10%">Nota Parcial 1</th>
        <th width="15%">Asistencia Parcial 2</th>
        <th width="10%">Nota Parcial 2</th>
        <th width="15%">Asistencia Parcial 2</th>
        <th width="10%">Nota Final</th>
        <th width="10%">Asistencia Final</th>
      </thead>
      <tbody>
        <tr *ngFor="let notas of detallematriculaPeriodo" [ngClass]="">
          <td>
            <small>{{notas.asignatura.nombre}}</small>
          </td>
          <td>
            <small>{{notas.nota1}}</small>
          </td>
          <td>
            <small>{{notas.asistencia1}}</small>
          </td>
          <td>
            <small>{{notas.nota2}}</small>
          </td>
          <td>
            <small>{{notas.asistencia2}}</small>
          </td>
          <td>
            <small>{{notas.nota_final}}</small>
          </td>
          <td>
            <small>{{notas.asistencia_final}}</small>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
